body{
    width: auto;
    height: auto;
    background-color: rgba(218, 165, 32, 1);

}
.container{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.square1{
    width: 365px;
    height: 365px;
    border-radius: 12px;
    background-color: rgba(41, 126, 64, 1);
}
.square2{
    width: 365px;
    height: 365px;
    border-radius: 90px;
    background-color: rgba(142, 40, 119, 1);
}
.square3{
    width: 365px;
    height: 365px;
    border-radius: 20px;
    background-color: rgba(54, 27, 164, 1);
}