.box{
    width: 300px;
    height: 400px;
    background-color: rgba(47, 129, 65, 1);
}
.box1{
    width: 571px;
    height: 140px;
    background-color: rgba(19, 81, 59, 1);
}
.box2{
    width: 571px;
    height: 140px;
    background-color: rgba(230, 36, 187, 1);
}
.box3{
    width: 571px;
    height: 140px;
    background-color: rgba(85, 239, 13, 1);
}
